{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    },
    "extends": [
        "airbnb-base"
    ],
    "plugins": [
        "import",
        "react",
        "jsx-a11y"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "document": false
    }
}
